@import './variables.scss';

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  min-width: 320px;
  line-height: 1.5em;
  color: $dark;
}

body,
button,
input {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding: 12px 30px 70px;
  @media (max-width: $sm-breakpoint) {
    padding: 23px 10px 70px;
  }
}

.header {
  @media (max-width: $sm-breakpoint) {
    position: relative;
    right: -10px;
  }
}

.visible-lg,
.visible-sm {
  display: none;
}

.visible-lg {
  @media (min-width: $sm-breakpoint + 1px) {
    display: block;
  }
}

.visible-sm {
  @media (max-width: $sm-breakpoint) {
    display: block;
  }
}

.flex-container {
  display: flex;
}

.right-spaced {
  margin-right: 15px;
}

.content-box__header {
  margin-bottom: 10px;
  overflow: hidden;
}

.separator {
  background: #cacaca;
  border: none;
  height: 1px;
  width: 100%;
  margin-bottom: 25px;
}
