// colors
$danger: #da3535;
$dark: #3e3d3f;

$btn-bg: #0077c0;
$btn-bg-hover: #085c90;

// fonts
$primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: 'HelveticaNeue-Light';

// icons
$currency-icon: 'data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjEwcHgiIGhlaWdodD0iMTVweCI+PHRleHQga2VybmluZz0iYXV0byIgZm9udC1mYW1pbHk9Ik15cmlhZCBQcm8iIGZpbGw9InJnYigwLCAwLCAwKSIgZm9udC1zaXplPSIxNnB4IiB4PSIwcHgiIHk9IjEzcHgiPjx0c3BhbiBmb250LXNpemU9IjE2cHgiIGZvbnQtZmFtaWx5PSJIZWx2ZXRpY2EgTmV1ZSIgZmlsbD0iIzNFM0QzRiI+JiMzNjs8L3RzcGFuPjwvdGV4dD48L3N2Zz4=';

// responsive
$sm-breakpoint: 820px;
